<!--<div [ngClass] = "'center'">
    <div [ngClass] = "'article'">
        <div>
            <p><span [ngClass] = "'words'">Quote: </span>As happy as I am</p>
            <p><span [ngClass] = "'words'">Author: </span>Someone</p>
        </div>
        <div>
        <div>
            <p><span [ngClass] = "'words'">Votes</span></p>
               <div>
                <div [ngClass] = "'row'">
                   <div [ngClass] = "'row'">
                    <span [ngClass] = "'upvote-box'">0</span>
                    <p>Upvotes</p>
                   </div>
                   <div [ngClass] = "'row'">
                    <span [ngClass] = "'downvote-box'">0</span>
                    <p>Downvotes</p>
                   </div>
                </div>
                <span><button>Upvote</button> <button [ngClass] = "'margin-left'">Downvote</button></span>
               </div>
            </div>
            <p><span [ngClass] = "'words'">Posted: </span>Timelapsed</p>
        </div>
        <div [ngClass] = "'justify-btn'">
            <button>Prev Quote</button>
            <button>Next Quote</button>
        </div>   
    </div>
</div>
<button>Add a quote</button>-->

<div>
    <hr>
    <ul>
      <li *ngFor='let quote of quotes' [ngClass] = "'border-around'" type="none">
        <div>
        <p><span [ngClass] = "'words'">Quote: </span>{{quote.Word}}</p>    
        <p><span [ngClass] = "'words'">Author: </span>{{quote.Author}}</p>
        </div>
       <div> 
           <div [ngClass] = "'row'">
        <p><span [ngClass] = "'words'">Votes:</span></p>
        <p [ngClass] = "'margin-left-1'">Upvotes <span [ngClass] = "'upvote-box'">0</span></p>
        <p [ngClass] = "'margin-left'">Downvotes <span [ngClass] = "'downvote-box'">0</span></p>
    </div>
    <p><span [ngClass] = "'words'">Posted: </span>1 minute ago</p>
    <div [ngClass] = "'row'">
        <p><span [ngClass] = "'words'">Vote: </span></p>
        <button [ngClass] = "'margin-left-1'">Upvote</button>
        <button [ngClass] = "'margin-left'">Downvote</button>
     </div>
    </div>
      </li>
    </ul>
    <button>Add a quote</button>
  </div>
  <app-quotes-form></app-quotes-form>