
<div>
    <hr>
    <ul>
      <li *ngFor='let quote of quotes;let i = index' [ngClass] = "'border-around'" type="none">
    <div>
        <p><span [ngClass] = "'words'">Quote: </span>{{quote.Word}}</p>    
        <p><span [ngClass] = "'words'">Author: </span>{{quote.Author}}</p>
        <button class="btn btn-primary" [ngClass] = "'btn-height'"(click)='toggleDetails(i)'>Details</button>
    </div>
    <app-quote-details *ngIf='quote.showDescription' [quote]='quote'></app-quote-details>
    </li>
    </ul>
  </div>
  <button class="btn btn-primary" [ngClass] = "'btn'" (click)='toggleDetails()'>Add a quote</button>
  <app-quotes-form *ngIf='quote.showForm'></app-quotes-form>