.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.upvote-box{
    border: 1px solid black;
    margin-left: 0vw;
    width: 5vw;
}
.downvote-box{
    border: 1px solid black;
    margin-left: 10vw;
    width: 5vw;
}
.col{
    display: flex;
    flex-direction: column;
}
.margin-left{
    margin-left: 16vw;
}
.article{
    border: 2px solid yellow;
}
.basic{
    display: flex;
    flex-direction: row;
}
