
    <div> 
        <ul>
            <li>
                <div [ngClass] = "'rowd'">
                    <p><span [ngClass] = "'words'">Votes:</span></p>
                    <p [ngClass] = "'margin-left-1'" class="text-primary">Upvotes <span [ngClass] = "'upvote-box'">0</span></p>
                    <p [ngClass] = "'margin-left'" class="text-primary">Downvotes <span [ngClass] = "'downvote-box'">0</span></p>
                </div>
                <p><span [ngClass] = "'words'">Posted: </span>1 minute ago</p>
                <div [ngClass] = "'rowd'">
                    <p><span [ngClass] = "'words'">Vote: </span></p>
                    <button [ngClass] = "'margin-left-1'" class="btn btn-success">Upvote</button>
                    <button [ngClass] = "'margin-left'" class="btn btn-success">Downvote</button>
                 </div>
                 <button class="btn btn-danger">Delete Quote</button>
            </li>
        </ul>
    </div>
        <button class="btn btn-primary" [ngClass] = "'btn'">Add a quote</button>
