<div> 
    <div [ngClass] = "'rowd'">
        <p><span [ngClass] = "'words'">Votes:</span></p>
        <p [ngClass] = "'margin-left-1'" class="text-primary">Upvotes <span [ngClass] = "'upvote-box'">{{quote.Upvote}}</span></p>
        <p [ngClass] = "'margin-left'" class="text-primary">Downvotes <span [ngClass] = "'downvote-box'">{{quote.Downvote}}</span></p>
    </div>
        <p><span [ngClass] = "'words'">Posted: </span>{{quote.completeDate | dateCount}} days ago</p>
    <div [ngClass] = "'rowd'">
        <p><span [ngClass] = "'words'">Vote: </span></p>
        <button [ngClass] = "'margin-left-1'" class="btn btn-success">Upvote</button>
        <button [ngClass] = "'margin-left'" class="btn btn-success">Downvote</button>
    </div>
        <button class="btn btn-danger">Delete Quote</button>
</div>
